Devices
<a href="/device_types">Types</a>

<h3><a href="/devices/new">Add new device</a></h3>

<ul>
  {{#each devices}}
  <li> <a href="/devices/{{this._id}}">{{this.name}}</a> </li>
  {{/each}}
</ul>
