<h1>THIS THAT HOME PAGE BABAY</h1>
<h2>You are only seeing this page cause yo ass aint logged in</h2>
<form class="" action="users/login" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="username">
  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="password">
  <button type="submit" name="login">login</button>
</form>
