<a href="/device_types">Back to device types</a>

<form class="" action="/device_types/new" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" placeholder="type name here">
  <label for="device_type">Device Type:</label>
  <button type="submit" name="create device">add device type</button>
</form>
